<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Help</title>
</head>

<body>
    <div class="main-content">
        {{>header}}                       {{!-- it is the header.hbs file in templates > partials --}}
        {{!-- <h1>{{title}} </h1> --}}
        <p> {{name}} will help you out </p>

    </div>

    {{>footer}}
</body>

</html>