{{!-- header --}}


{{!-- <h1>Static Header.hbs text</h1> --}}
{{!-- use nodemon directoryname -e js,hbs --}} 

<header>
    <h1>{{title}} </h1>

    <a href='/'>Weather</a>
    <a href='help'>Help</a>
    <a href='about'>About</a>
</header>
